body{
    font-family: Arial, sans-serif;
    background-color:#f4f4f4;
    margin:0;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);     /* ?? */

    background-color: lightyellow;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.header-title {
    padding-bottom: 50px;
    text-align: center;
}

/* CREATE FORM */

.form-create{
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border-radius: 10px;
    align-items: center;

    background-color: lightgreen;
    
}

.form-create input,
.form-create textarea{
    width:100%;
    padding:10px;
}

select{
    width: 87%;
    padding:10px;
}

textarea{
    resize:vertical;
    min-height:120px;
}

button{
    padding:10px 20px;
    cursor:pointer;
}

.genre-row{
    display:flex;
    gap:10px;
    margin-bottom:10px;
}

.genre-row select{
    flex:1;
}

.genre-row button{
    width:20px;
}

.errors{
    background:#ffd6d6;

    padding:10px;

    margin-bottom:20px;
}

/* EDIT FORM */

.form-to-edit{
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border-radius: 10px;
    align-items: center;

    background-color: lightblue;
}

.back-btn{
    margin-bottom: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
}

.back-btn:hover{
    background-color: #e0e0e0;
}

.save-btn{
    display: block;
    margin-left: auto;
    background-color: white;
    border: none;
    border-radius: 5px;
}

.save-btn:hover{
    background-color: #e0e0e0;
}