*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    margin:0;
}

nav{
    background-color: lightsalmon; 
    color: white; 
    padding: 1em;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-links{
    color: black;
    display: flex;
    gap: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navi{
    background-color: lightyellow;
    flex-direction: column; text-align: center; gap: 15px;
}

input,
textarea{
    width:100%;
    padding:10px;
}